*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2{
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
ul{
    list-style: none;
    height: 200px;
    background: #030303;
}
a{
    text-decoration: none;
    color:rgb(100, 100, 100);
    font-size: 20px;
    font-weight: bold;
    line-height:200px;
    display: block; 
    transition: .3s;
    transform: translateY(0) scale(1);
}
a:hover{
    background:#FA8072;
    color:rgb(0, 0, 0);
}
.header{
    margin-bottom: 80px;
}
.logo 
{
    margin-top: 20px;
    width: 150px;
}
.menu {
    display:flex;
    justify-content: space-between;
    text-align: center;
}
.menu li {
    flex: 1;  
}
.menu li img{
    transition: .3s;
    transform: scale(1);
} 
.menu li img:hover{
    transform: scale(1.05);
}
.info {
    border: 3px solid rgb(100, 150, 0);
    padding: 10px 20px;
    background-color: rgb(300, 100, 50);
    border-radius: 10px;
    margin-top: -81px;
}
.info p{
    font-size: 18px;
    color:rgb(0, 0, 0);
}
.info img{
    width: 400px;
    display: block;
    margin-right: 20px;
}
.info h4{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}
.info2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.info3 {
	width: 500px;
        display: block;
}
.info4 {
	width: 1220px;
        display: block;
}
.btn {
    border: none;
    outline: none;
    padding: 15px 116px;
    background-color: #FA8072;
    cursor: pointer;
    font-family: 'Roboto',Arial,sans-serif;
}
.btn:hover {
    background-color: #ddd;
}  
.btn.active {
   
    background-color: #FA8072;
    color: white;
}
.fullscreen-bg {
    overflow: hidden;
    z-index: -100;
    position: relative;
    height: 100%;
    padding-top:45%;
    margin-top: -100px;
} 
.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.overlay {
    background: rgba(0,0,0,0.6);
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 4;

}
.overlay h1 {
    text-align:center;
    color:#fff;
    font-size: 70px;
    margin-top:17%;
}
.audio{
margin-top: -13px;
float:left;
}
.item{
clear: left;
margin-top: 13px;
}










